<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<% if session['omniauth'] %>
		<%= beautify_params f.label(:first_name), f.text_field(:first_name, :value => session['omniauth'][:info][:first_name]) %>
		<%= beautify_params f.label(:last_name), f.text_field(:last_name, :value => session['omniauth'][:info][:last_name]) %>
		<%= beautify_params f.label(:email), f.email_field(:email, :value => session['omniauth'][:info][:email]) %>
		<%= f.hidden_field :image, :value => session['omniauth'][:info][:image] %>
	<% else %>
		<%= beautify_params f.label(:first_name), f.text_field(:first_name) %>
		<%= beautify_params f.label(:last_name), f.text_field(:last_name) %>
		<%= beautify_params f.label(:email), f.email_field(:email) %>
	<% end %>

	<% if @user.password_required? %>
		<%= beautify_params f.label(:password), f.password_field(:password) %>
		<%= beautify_params f.label(:password_confirmation), f.password_field(:password_confirmation) %>
	<% end %>

	<div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
